nav(class="navbar navbar-fixed-top navbar-default")
	h1.text-center Chatrooms
	form
		.form-group
			input(
				type="text"
				name="chatroom-filter"
				class="form-control text-center"
				placeholder="Filter chatrooms"
				ng-model="chatroomFilter"
			)
			//- span.input-group-btn
			//- 	button(type="button" class="btn btn-primary") Create chatroom
div#chatrooms(class="container-fluid panel panel-default")
	ul.list-group
		a(ng-repeat="chatroom in chatrooms| filter:chatroomFilter")
			li(ui-sref="chatrooms.show({ chatroom: chatroom})"
				class="list-group-item text-center") {{chatroom}}
				//- span(class="badge") {{chatroom}}.userCount
				//- span(class="badge") {{chatroom}}.messageCount

