nav(class="navbar navbar-fixed-top navbar-default")
	h1.text-center
		a(ui-sref="chatrooms.index") Chatrooms
		span  / {{chatroom.name}}

	form#username-form(role="form"
				ng-if="user.changing"
				ng-submit="changeUsername()"
				ng-class="user.validation"
				)
		.input-group

			input#username-input.form-control(
				autocomplete="off"
				type="text"
				ng-model="user.tempName"
				ng-change="validateNewUsername()"
				placeholder="Type unique username here."
			)

			span.input-group-btn
				//- Attempts to change the username
				button#change-username(
					type="submit"
					class="btn btn-primary"
				) Change username

	form#message-form(role="form"
				ng-if="!user.changing"
				ng-submit="sendMessage()"
				)
		.input-group
			span.input-group-btn
				//- Button to show username and initiate a change
				button#username(
					type="button"
					class="btn btn-default"
					ng-click="toggleUsernameChanging()"
				) {{user.name}}:

			//- TODO Add validation
			//- TODO Add markdown support
			input#message-input.form-control(
				autocomplete="off"
				type="text"
				ng-model="user.message"
				placeholder="Type a message here"
				ng-if="!user.changing"
			)

			span.input-group-btn
				button#send-message(
					type="submit"
					class="btn btn-primary"
					ng-if="!user.changing"
				) Send

#discussion-container(scroll-glue)
	table.table
		tr(ng-repeat="message in chatroom.messages")
			td {{message.datetime}}
			td {{message.sender}}
			td
				p(ng-bind-html="message.message")
#user-container(scroll-glue)
	table.table
		tr
			th Users
		tr(ng-repeat="user in chatroom.users")
			td {{user}}

