.container-fluid
	.page-header
		h1 {{chatroom.name}}

	#discussion.row
		.col-sm-9
			table.table
				tr(ng-repeat="message in chatroom.messages")
					td {{message.datetime}}
					td {{message.sender}}
					td
						p(ng-bind-html="message.content")
		.col-sm-3
			table.table
				tr(ng-repeat="user in chatroom.users")
					td {{user}}

	form(role="form" action="")
		.input-group
			input(
				autocomplete="off"
				type="text"
				class="form-control"
				ng-model="message"
				placeholder="Type a message here"
			)
			span.input-group-btn
				button(
					type="button"
					class="btn btn-primary"
					ng-click="sendMessage()"
				) Send

	input(type="text" ng-model="username" placeholder="Enter your username here")